
body{
  background-color: rgb(6, 13, 46);
  font-family: 'Arial', sans-serif;
  color: white;}

.main-page-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  text-align:justify;
  margin-left: 172px;
  margin-right: 100px;
  column-gap: 100px;
  font-size: 26px;
  margin-top: 110px;
}

.image-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 272px;
  margin-right: 200px;
  margin-top: 20px;
  column-gap: 50%;
  color: white;
  font-size: 26px;
}

.desktop-container, .podcast-container {
  display: flex;
  flex-direction: column; /* Stack the image and text vertically */
  align-items: center;
  background-color: rgba(28, 54, 112, 0.541); /* Center the image and text horizontally */
  padding: 10px; /* Add some padding around the container */
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid white; /* Add a border around the container */
  border-radius: 10px; /* Round the corners of the container */
}

.image-ordi, .image-podcast {
  width: 100px; /* Adjust the size of the images */
  height: 100px; /* Adjust the size of the images */
  height: auto;
  margin-bottom: 10px; /* Add space between the image and the text */
}

.desktop-container:hover, .podcast-container:hover {
  cursor: pointer;
}

.image-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color */
}
