
body{
  background-color: rgb(6, 13, 46);
  font-family: 'Arial', sans-serif;
  color: white;
  padding-left: 76px; /* offset fixed sidebar width */
  padding-top: 74px; /* offset fixed header height */
}


.main-page{
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.text{
  width: 100%;
}

.main-page img{
  padding-top: 16px;
  padding-bottom: 16px;
}

.lang{
  max-width: 550px;
  padding-left: 0px;
}

.image{
  display: block;
  margin: 0 auto ;
}

.text-2{
  width: 100%;
  text-align: center;
}

.main-page2{
  display: flex;
  justify-content: center;
  gap: 16px;
}


.button1{
  background-color: rgb(3, 106, 146);
  border-radius: 3px;
  border: 2px solid rgb(3, 65, 89);
  font-size: 20px;
}

.button1:hover{
  background-color: rgb(3, 136, 189);
}

.bouton:hover{
background-color: white;
}
